<nav class="nats navbar">
    <a href="https://freecodecamp.org" class="logo">
        <img src="images/logo.svg" alt="logo">
    </a>
    <div class="nav-links">
        <div class="nav-item"><a href="#TechStack">Tech Stack</a></div>
        <div class="nav-item"><a href="#Experience">Experience</a></div>
        <div class="nav-item"><a href="#Projects">Projects</a></div>
        <div class="nav-item"><a href="#Interests">Interests</a></div>
        <div class="nav-item"><a href="#Contact">Contact</a></div>
    </div>
</nav>