@using MailKit.Net.Smtp
@using MimeKit
@using PersonalStaticApp.Client.Models
<div class="section contact">
    <div class="title nats">
        <h2 id="Contact">Get in touch</h2>
    </div>
    <EditForm Model="EmailRequest" FormName="EmailForm" OnSubmit="SendEmail">
        <AntiforgeryToken />
        <InputText @bind-Value="EmailRequest.Name" placeholder="Name"/>
        <InputText @bind-Value="EmailRequest.Email" placeholder="Email" />
        <InputTextArea @bind-Value="EmailRequest.Body" placeholder="Message" />
        <button type="submit" class="btn btn-primary">Send</button>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm(FormName = "EmailForm")]
    EmailRequest EmailRequest { get; set; } = new();

    void SendEmail()
    {
        var email = new MimeMessage();
        email.From.Add(MailboxAddress.Parse(EmailRequest.Email));
        email.To.Add(MailboxAddress.Parse("gwcgreen3@gmail.com"));
        email.To.Add(MailboxAddress.Parse("georgecarrwork@gmail.com"));

        email.Subject = $"Contact from {EmailRequest.Name} via TheLemic.co.uk";
        email.Body = new TextPart(MimeKit.Text.TextFormat.Html)
        {
            Text = EmailRequest.Body
        };

        using var smtp = new SmtpClient();
        smtp.Connect("", 587, MailKit.Security.SecureSocketOptions.StartTls);
        smtp.Authenticate("", "");
        smtp.Send(email);
        smtp.Disconnect(true);
    }
}