.timeline {
    color: var(--light);
}

.dot {
    height: 60px;
    width: 60px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.timeline-event {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeline-heading, .job-details, .spacer {
    width: 40%;
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    border-left: 5px solid var(--primary);
    border-radius: 5px;
    margin: 20px 0;
    flex-grow: 1;
}

.gradient {
    border-image: linear-gradient(to bottom, var(--primary), transparent);
    border-image-slice: 1;
    border-radius: 5px;
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(to right, transparent, transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.timeline-heading {
}

    .timeline-heading h3 {
        font-size: 54px;
    }

    .timeline-heading p {
        font-size: 20px;
        color: #CBCBCB;
        margin: 0;
    }

.job-details {
    padding: 40px;
    padding-bottom: 20px;
}


    .job-details h4 {
        color: #DD3C7F;
        font-size: 40px;
    }

    .job-details h5 {
        font-size: 24px;
        color: #CBCBCB;
    }

    .job-details p {
        padding: 20px 80px 20px 0;
        font-size: 20px;
    }

.top {
    margin-top: 50px;
}