<div class="hero">
    <div class="left numan">
        <h1>George Carr</h1>
        <h2>Software Engineer</h2>
        <div class="buttons">
            <button class="primary">Download CV</button>
            <button>Contact</button>
        </div>
    </div>
    <div class="right">
        <img src="images/PixelArt.png"/>
    </div>
</div>


@code {

}
