<div class="section">
    <div class="title nats">
        <h2 id="Interests">Interests</h2>
    </div>

    <div>
        <div class="interest">
            <div>
                <img src="images/boardgame.jpg" class="card" />
            </div>
            <div class="info">
                <h4>Games</h4>
                <p>I love games of all sorts! I host board game nights with friends from work once a month. Try to win at monthly pay day poker night. Play D&D a couple times per month with a group that's been running for 2 years. I also play PC and PS5 games.</p>
            </div>
        </div>
        <div class="interest">
            <div class="info">
                <h4>Jiu-Jitsu</h4>
                <p>I train Jiu-Jitsu 2-3 times a week. I love it. It’s a great mix of strength, cardio, problem solving, self defence and fun. Here’s a picture of me fighting for my life defending a choke.</p>
            </div>
            <div>
                <img src="images/jiujitsu.jpg" class="card" />
            </div>
        </div>
    </div>

</div>