<div class="section">
    <div class="title nats">
        <h2 id="Projects">Projects</h2>
    </div>
    
        <h3 class="numan subtitle">Take a look at my personal projects on <a href="https://github.com/GeorgeCarr44">GitHub</a></h3>
    
    <div class="card-container">

        <div class="myDiv card streak" style="background-color: #4ECE63">
            <h4>Streak</h4>
            <p class="overlay-text">Habit Tracker app in .Net Maui</p>
        </div>


        <div class="card AdventOfCode" style="background-color: #000000">
            <h4>Advent of Code</h4>
            <p class="overlay-text">Yearly Coding Challenges</p>
        </div>

        <div class="card Personal" style="background-image: url(images/hero-layered-waves.svg)">
            <h4 class="nats">Personal</h4>
            <p class="overlay-text">Blazor website on Azure</p>
        </div>
    </div>
    <hr/>
</div>
