<div class="section">
    <div class="title nats">
        <h2 id="TechStack">Tech Stack</h2>
    </div>
    <div class="icons-section">
        <TechCard ImageSource="images/CSharp.svg" Text="CSharp"/>
        <TechCard ImageSource="images/blazor.svg" Text="Blazor"/>
        <TechCard ImageSource="images/dot-net.svg" Text=".NET 8" PadImage=true />
        <TechCard ImageSource="images/html.svg" Text="HTML" />
        <TechCard ImageSource="images/git.svg" Text="Git"/>
        <TechCard ImageSource="images/css.svg" Text="CSS"/>
        <TechCard ImageSource="images/javascript.svg" Text="Javascript"/>
    </div>
    <hr />
</div>
